* {
  outline: dashed 1px black;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

main {
  height: 100vh;
}

.buttons-row {
  display: flex;
  gap: 1em;
  margin-bottom: 1em;
}

#main-grid {
  width: 800px;
  height: 800px;
}

.row-setup {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.column-setup {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.colorize {
  background-color: black;
}

.erase {
  background-color: white;
}